.diet {
	background-image: linear-gradient(to bottom right, rgba(33, 30, 68, 0.904), rgba(96, 218, 255, 0.932)),
		url(../../pics/food.png);
	background-repeat: no-repeat;
	background-position: center;
    background-attachment: fixed;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron-diet {
    height: 66vh;

    display: flex;
	align-items: center;
    
    color: white;
}

.diet-text {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.grid-diet {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    justify-content: stretch;
}

.grid-diet-item {
    height: auto;
    opacity: 1;
    align-self: stretch;
    transition: all .2s;
}

.grid-diet-item:hover {
    opacity: .7;
    transform: scale(.95);
}

.diet-card {
    display: flex;
    justify-content: center;
    margin: 6rem 0;
}

.card-title {
    margin: 50px 0 60px 0;
    font-size: 150%;
}


@media only screen and (max-width: 480px) {
    .grid-diet {
        grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    }
}