.home {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(45, 49, 68), rgba(60, 48, 126, 0.905));
    color: white;
    display: flex;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listGrid {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.list-col {
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.list-col span {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.list-col:hover {
    box-shadow: 1px 1px 5px #777;
}

.display-4 {
    font-size: 5rem;
    letter-spacing: 8px; 
}

.header-home {
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}


.lead {
    font-style: italic;
    letter-spacing: 1.5px;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 70px;
    margin-bottom: 40px;
}

h2:after {
    margin: 0 auto;
    display: block;
    height: 2px;
    background-color: rgba(60, 48, 126, 0.905);
    content: "";   
    width: 60px;  
    margin-top: 12px;  
}

@media only screen and (max-width: 1023px) {
    .display-4 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 767px) {
    .display-4 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .display-4 {
        font-size: 2.5rem;
    }
}