.jumbotron {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(45, 49, 68), rgba(60, 48, 126, 0.905));
    color: white;
    display: flex;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listGrid {
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.list-col {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.list-col span {
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.display-4 {
    font-size: 4rem;
    letter-spacing: 8px;

    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.lead {
    font-style: italic;
    letter-spacing: 1.5px;
}

h2 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 70px;
}

h2:after {
    margin: 0 auto;
    display: block;
    height: 2px;
    background-color: rgba(60, 48, 126, 0.905);
    content: "";   
    width: 60px;  
    margin-top: 12px;  
}
