.jumbotron {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(45, 49, 68), rgba(60, 48, 126, 0.905));
    color: white;
    display: flex;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listGrid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.list-col {
    margin: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-col span {
    font-weight: 700
}

.display-4 {
    font-size: 4.5rem;
    letter-spacing: 8px;
}

.lead {
    font-style: italic;
    letter-spacing: 1.5px;
}

h2 {
    letter-spacing: 2px;
    font-size: 2rem;
    margin-top: 90px;
    margin-bottom: 60px;
}

h2:after {
    margin: 0 auto;
    display: block;
    height: 2px;
    background-color: rgba(60, 48, 126, 0.905);
    content: "";   
    width: 60px;  
    margin-top: 7px;  
}