.header-background {
    background-color: rgba(47, 51, 71, 0.966);
    box-shadow: 0 1px 2px rgb(42, 45, 63);
}

a > span {
    color: white;
    letter-spacing: 1px;
    padding-bottom: 4px;
}

a > span:hover {
    border-bottom: 1px solid rgba(255, 183, 75, 0.966);
}

a > img {
    margin-right: 10px;
}

.navbar {
    padding: .3rem 1rem;
}