footer {
    width:100%;
    height:60px;   /* Height of the footer */
    background:rgb(255, 255, 255);
 }

.heart ion-icon {
    color: rgba(255, 0, 0, 0.815);
    margin: -3px 5px;
    vertical-align: center;
}
.heart ion-icon:hover {
    color: #000;
}