.jumbotron {
    margin-bottom: 0;
}

.wilks {
    height: 50vh;
    background-image: linear-gradient(to bottom, rgb(168, 168, 168), rgba(207, 207, 207, 0.905));
    color: rgb(66, 66, 66);
    display: flex;
}

.wilks-section {
    height: 50vh;
    padding-top: 100px;
}