.goals {
	height: 60vh;
	background-image: linear-gradient(to bottom, rgb(168, 168, 168), rgba(207, 207, 207, 0.905));
	color: rgb(66, 66, 66);
	display: flex;
}

.modal-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.goal-buttons {
	display: flex;
}

.goalsList-weight-item {
	background-image: linear-gradient(to right, rgb(100, 100, 100), rgba(139, 139, 139, 0.905));
}

.goalsList-wilks-item {
	background-image: linear-gradient(to right, rgba(139, 139, 139, 0.905), rgb(100, 100, 100));
}

.upper {
	margin-bottom: 18vh;
	margin-top: 60px;
}
